* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
}

:root {
  /* Text */

  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /* Background gradient */

  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  /* Divider */

  --Light-grayish-blue: hsl(240, 5%, 91%);
}

html {
  background: fixed
    linear-gradient(180deg, var(--Soft-violet), var(--Soft-blue));
  background-size: cover;
}

body {
  font-size: 12px;
}

.container {
  width: 86%;
  margin: 13em auto 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 2em;
  padding-bottom: 3em;
  color: var(--Very-dark-desaturated-blue);
  position: relative;
}

.illustration {
  position: absolute;
  width: 240px;
  top: -9em;
}
.bg-pattern {
  position: absolute;
  top: 0.3em;
}

.accordion-header {
  margin-top: 3.5em;
  margin-bottom: 0.5em;
  font-size: 2rem;
  font-weight: 700;
}

.accordion {
  padding-left: 0;
  min-width: 100%;
}

.accordion-item {
  padding: 0.75em 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accordion.accordion-item {
  list-style: none;
}

.accordion-control {
  background-color: white;
  outline: white;
  border: none;
  color: var(--Very-dark-grayish-blue);
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: 0.1s;
}

.accordion-control:hover {
  color: var(--Soft-red);
}

.accordion-control.active {
  color: var(--Very-dark-desaturated-blue);
  font-weight: 700;
}

.accordion-panel {
  color: var(--Dark-grayish-blue);
  border-bottom: 1px solid var(--Light-grayish-blue);
  padding-bottom: 1.5em;
}

.accordion-panel-text {
  width: 90%;
  padding-top: 1em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.accordion-control.active + .accordion-panel > .accordion-panel-text {
  max-height: 247px;
}

.chevron {
  transition: transform 0.2s ease-in-out;
}

.accordion-control.active > .chevron {
  transform: rotate(-180deg);
}
