* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
}

:root {
  /* Text */

  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /* Background gradient */

  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  /* Divider */

  --Light-grayish-blue: hsl(240, 5%, 91%);
}

html {
  background: fixed
    linear-gradient(180deg, var(--Soft-violet), var(--Soft-blue));
  background-size: cover;
}

body {
  font-size: 12px;
}

.container {
  width: 86%;
  margin: 13em auto 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 2em;
  padding-bottom: 3em;
  color: var(--Very-dark-desaturated-blue);
  position: relative;
}

.illustration-container {
  position: absolute;
  width: 240px;
  top: -9em;
}

.illustration-desktop,
.illustration-box-desktop {
  display: none;
}

.overflow-container {
  max-height: 0px;
}

.bg-pattern-mobile {
  position: relative;
  top: -6em;
}

.accordion-header {
  margin-top: 7.5em;
  margin-bottom: 1em;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.accordion {
  padding-left: 0;
  min-width: 100%;
  text-align: start;
  transform: translateY(20px);
}

.accordion-item {
  /* padding: 0.75em 0 1em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accordion.accordion-item {
  list-style: none;
}

.accordion-control {
  background-color: white;
  outline: white;
  border: none;
  color: var(--Very-dark-grayish-blue);
  padding: 1em 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.accordion-control:hover {
  color: var(--Soft-red);
}

.accordion-control.active {
  color: var(--Very-dark-desaturated-blue);
  font-weight: 700;
}

.accordion-panel {
  color: var(--Dark-grayish-blue);
  border-bottom: 1px solid var(--Light-grayish-blue);
  padding: 9px 0;
}

.accordion-panel-text {
  width: 90%;
  /* padding-top: 1em; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

/* 
=================
Panel animations; the max-height increases and 
chevron rotates when button is clicked(javascript) 
================= 
*/

.accordion-control.active + .accordion-panel > .accordion-panel-text {
  max-height: 55px;
}

.chevron {
  transition: transform 0.2s ease-in-out;
}

.accordion-control.active > .chevron {
  transform: rotate(-180deg);
}

@media (min-width: 1020px) {
  .container {
    flex-direction: row;
    justify-content: unset;
    width: 915px;
    height: 475px;
    margin-top: 8em;
    padding-right: 3em;
    padding-left: 0;
    padding-bottom: 2em;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position-y: -270px;
    background-position-x: -510px;
    background-size: 900px;
  }

  .illustration-container {
    position: relative;
    width: 55%;
    transform: translateY(85px);
  }

  .overflow-container {
    overflow: hidden;
    min-height: 450px;
  }

  .illustration-mobile,
  .bg-pattern-mobile {
    display: none;
  }

  .illustration-desktop {
    display: block;
    transform: translate(-85px, 58px);
    position: relative;
  }

  .illustration-box-desktop {
    display: block;
    position: absolute;
    top: 195px;
    left: -92.5px;
  }

  .accordion-container {
    max-width: 38%;
    height: 420px;
  }

  .accordion-header {
    margin-top: 1.5em;
    margin-bottom: 0.75em;
    text-align: start;
  }
}
